---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=G5rFsHrsgFGQP5JrzWpmLh0txDJBvQxr&location=louisville,ky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 04:56:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"louisville,ky"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville","adminArea5Type":"City","adminArea4":"Jefferson
        County","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282087041","unknownInput":"","type":"s","latLng":{"lat":38.256078,"lng":-85.751569},"displayLatLng":{"lat":38.256078,"lng":-85.751569},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=G5rFsHrsgFGQP5JrzWpmLh0txDJBvQxr&type=map&size=225,160&locations=38.256078,-85.751569|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1568427705"}]}]}'
  recorded_at: Mon, 15 Nov 2021 04:56:15 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Private weather key&exclude=minutely&lat=38.256078&lon=-85.751569&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2561,"lon":-85.7516,"timezone":"America/Kentucky/Louisville","timezone_offset":-18000,"current":{"dt":1636952175,"sunrise":1636892616,"sunset":1636929096,"temp":36.63,"feels_like":36.63,"pressure":1018,"humidity":63,"dew_point":26.02,"uvi":0,"clouds":19,"visibility":10000,"wind_speed":1.99,"wind_deg":310,"wind_gust":8.99,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1636948800,"temp":36.28,"feels_like":29.14,"pressure":1018,"humidity":63,"dew_point":25.74,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":9.8,"wind_deg":286,"wind_gust":23.64,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1636952400,"temp":36.63,"feels_like":30.16,"pressure":1018,"humidity":63,"dew_point":26.02,"uvi":0,"clouds":19,"visibility":10000,"wind_speed":8.59,"wind_deg":284,"wind_gust":23.78,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1636956000,"temp":36,"feels_like":29.68,"pressure":1018,"humidity":64,"dew_point":25.83,"uvi":0,"clouds":18,"visibility":10000,"wind_speed":8.05,"wind_deg":278,"wind_gust":23.35,"weather":[{"id":801,"main":"C[...]
